<div class="container">
   <div class="row">
      <h2 style="text-align: center;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 新規会員登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
          <label><%= f.label :"姓" %><br />
              <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name", placeholder: '(例)長野' %>
          </label>

          <label><%= f.label :"名" %><br />
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: '(例)ジャケ太郎' %>
          </label>
      </div>

      <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
          <label><%= f.label :"セイ" %><br />
              <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana", placeholder: '(例)ナガノ' %>
          </label>

          <label><%= f.label :"メイ" %><br />
              <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: '(例)ジャケタロウ' %>
          </label>
      </div>

      <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
          <%= f.label :"郵便番号 ※「-(ハイフン)」含む" %><br />
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: '(例)000-0000' %>
      </div>


      <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
          <%= f.label :"住所" %><br />
          <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"col-xs-7",  placeholder: '(例)東京都◯◯区〇〇１丁目３番地 ナガジャケアパート 201号室' %>
      </div>

      <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
          <%= f.label :"電話番号 ※「-(ハイフン)」含む" %><br />
          <%= f.text_field :phone_number, autofocus: true, class:"col-xs-5", autocomplete: "phone_number", placeholder: '(例)080-0000-0000' %>
      </div>



      <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, class:"col-xs-5", autocomplete: "email", placeholder: '(例)nagajake@naga.co.jp' %>
      </div>

      <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
          <%= f.label :"パスワード" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class:"col-xs-5", autocomplete: "new-password" %>
      </div>

      <div class="field row col-md-offset-4" style="margin-bottom: 10px;">
          <%= f.label :"パスワード（確認）" %><br />
          <%= f.password_field :password_confirmation, class:"col-xs-5", autocomplete: "new-password" %>
      </div>


      <div class="actions" style="margin-bottom: 10px;">
          <%= f.submit "登録確認ページへ", class:"btn btn-primary col-xs-4 actions col-md-offset-4", style:"margin-bottom: 10px;" %>
      </div>
          <% end %>
  </div>

      <div class="row" style="text-align: center; margin-bottom: 10px;">
        <%= render "devise/shared/links" %>
      </div>
</div>
