
<h1>会員情報</h1>
<p>
  <strong>氏名</strong>
  <%#=<%= @user.family_name %><%#=<%= @user.first_name %>
</p>

<p>
<strong>氏名(カナ)</strong>
　<%#=<%= @user.family_name_kana %><%#=<%= @user.first_name_kana %>
</p>

<p>
<strong>郵便番号</strong>
　<%#=<%= @user.postal_code %>
</p>

<p>
<strong>住所</strong>
　<%#=<%= @user.address %>
</p>

<p>
<strong>メールアドレス</strong>
　<%#=<%= @user.mail %>
</p>

<p>
<strong>電話番号</strong>
　<%#=<%= @user.phone_number %>
</p>
