<h1>MYページ</h1>
<table class="table" border="3" bordercolor="black">
	<tr>
		<th>名前</th>
		<th>メールアドレス</th>
		<th>住所</th>
		<th>電話番号</th>
	</tr>

	<tr>
		<td><%= current_user.family_name %><%= current_user.first_name %></td>
		<td><%= current_user.email %></td>
		<td><%= current_user.address %></td>
		<td><%= current_user.phone_number %></td>
	</tr>

</table>

<ul>
  <div class="row col-md-offset-2">
    <li class="admin_page col-xs-3 col-lg-3 btn btn-default btn-lg active"><%= link_to 'MYカート',  user_users_cart_path(current_user.id) %></li>
    <li class="admin_page col-xs-3 col-lg-3 btn btn-default btn-lg active"><%= link_to '購入履歴', cart_histories_path(current_user.id) %></li>
    <li class="admin_page col-xs-3 col-lg-3 btn btn-default btn-lg active"><%= link_to 'カテゴリーから選択', categories_path %></li>
  </div>
  <div class="row col-md-offset-2">
    <li class="admin_page col-xs-3 col-lg-3 btn btn-default btn-lg active"><%= link_to 'ユーザー詳細', user_path(current_user.id) %></li>
    <li class="admin_page col-xs-3 col-lg-3 btn btn-default btn-lg active"><%= link_to 'お問い合わせ',  new_inquiry_path %></li>
    <li class="admin_page col-xs-3 col-lg-3 btn btn-default btn-lg active"><%= link_to 'shopinformation',  new_shopinformation_path %></li>
  </div>
 
</ul>

