<div class="container">
  <h2 style="text-align: center;">NAGAJAKEへようこそ!!</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field row col-md-offset-4">
      <%= f.label :'メールアドレス' %><br />
      <%= f.email_field :email, class:"col-xs-6", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field row col-md-offset-4">
      <%= f.label :'パスワード' %><br />
      <%= f.password_field :password,  class:"col-xs-6",autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field col-md-offset-4 row">
        <%= f.check_box :remember_me %>
        <%= f.label :'今後ログイン画面をパスする' %>
      </div>
    <% end %>

    <div class="h-30" style="height: 10px;"></div>
    <div class="action row">
        <%= f.submit "サインイン", class: "btn btn-primary col-md-offset-4 col-xs-4"%>
    </div>
  <% end %>

  <div class="h-30" style="height: 20px;"></div>
  <div class="row" style="text-align: center;">
    <%= render "devise/shared/links" %>
  </div>
  <div class="h-30" style="height: 20px;"></div>
</div>
