

<div class="col-xs-3 col-lg-3">
	<ul>
		<li class= "sidebar_list row col-lg-12 btn btn-default active">
			<%= link_to '商品一覧', products_index2_path %>
		</li>
		<li class= "sidebar_list row col-lg-12 btn btn-default active">
			<%= link_to '商品登録', admin_products_new_path %>
		</li>
		<li class= "sidebar_list row col-lg-12 btn btn-default active">
			<%= link_to '商品レビュー管理',  product_reviews_path %>
		</li>
		<li class= "sidebar_list row col-lg-12 btn btn-default active">
			<%= link_to '顧客情報一覧', admin_users_index_path %>
		</li>
		<li class= "sidebar_list row col-lg-12 btn btn-default active">
			<%= link_to 'お問い合わせ', inquiries_path %>
		</li>
		<li class= "sidebar_list row col-lg-12 btn btn-default active">
			<%= link_to 'カテゴリ一覧ページ', categories_path %>
		</li>
		<li class= "sidebar_list row col-lg-12 btn btn-default active">
			<%= link_to 'ショップインフォメーション', new_shopinformation_path %>
		</li>
		<li class= "sidebar_list row col-lg-12 btn btn-default active"  style="margin-bottom: 10px;">
			<%= link_to '受注一覧',  orders_path %>
		</li>
	</ul>
</div>