
<h1>管理者ページ</h1>
<ul>
	<li><%= link_to '商品一覧', '#' %></li>
	<li><%= link_to '商品登録', '#' %></li>
	<li><%= link_to '商品レビュー管理', '#' %></li>
	<li><%= link_to '顧客情報一覧', admin_users_path %></li>
	<li><%= link_to 'お問い合わせ', '#' %></li>
	<li><%= link_to 'カテゴリ一覧ページ' %></li>
	<li><%= link_to 'ショップインフォメーション', '#' %></li>
	<li><%= link_to '受注一覧', '#' %></li>
</ul>
