<div class="container">
<p class="lead">Product Review List</p>
<div class="row">
<table class="table table-hover">
	<tr>
		<td>rating</td>
		<td>Product Name</td>
		<td>Review Title</td>
		<td>Review Body</td>
		<td>Delete</td>
	</tr>
	<% @product_reviews.each do |review| %>
		<tr>
			<td><%#= review.rating %></td>
			<td><%= link_to product_path(review.product_id) do %>
				<%= review.product.product_name %>
				<% end %></td>
			<td><%= review.review_title %></td>
			<td><%= review.review_text %></td>
			<td><%= link_to "Destroy", product_review_path(review.id), class: "destroy_#{review.id} btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?"} %></td>
		</tr>
	<% end %>
	<div>
			<%#= paginate(@product_reviews) %>
	</div>
</table>
</div>
</div>