<div class="container">
	<%= form_for @product_review do |f| %>

		<% if @product_review.errors.any? %>
			<%= @product_review.errors.count %>
			<%= @product_review.errors.full_messages.each do |message| %>
				<%= message %>
			<% end %>
		<% end %>
			    <label class="product_review_title">Review Title</label>
			    <div class="row">
					<%= f.text_field :review_title, autofocus: true , placeholder:'レビューのタイトルをご入力ください。', class: "col-xs-4 col-xs-4" %>
				</div>
			    <label class="inquiry_text">Review Body</label>
			    <div class="row">
					<%= f.text_area :review_text, placeholder:'レビュー本文をご入力ください。', class: "col-xs-4 col-xs-4" %>
				</div>
				<div><p>文字数注意文</p></div>
				<div><p>5 star rating</p><%#= f.select :rate, ProductReview.rates.keys %></div>
				<div class="row">
					<%= f.submit '編集を保存して注文一覧へ戻る', class: "col-xs-4 col-xs-4 btn btn-primary active" %>
				</div>
				<div class="row">
					<%= f.submit '編集を保存せず注文履歴一覧へ戻る', class: "col-xs-4 col-xs-4 btn btn-primary active" %>
				</div>
	<% end %>
</div>