<div class="container">
	<%= form_for(@product_review, url: product_product_reviews_path) do |f| %>

		<% if @product_review.errors.any? %>
			<%= @product_review.errors.count %>
			<%= @product_review.errors.full_messages.each do |message| %>
				<%= message %>
			<% end %>
		<% end %>
		        <div class="row">
		        	<p>Write Your Review!</p>
		        	<p></p>
		        	<%#= @product.product_name %>
		        </div>
			    <label class="col-xs-offset-2 col-xs-8">Review Title</label>
			    <div class="row">
					<%= f.text_field :review_title, autofocus: true , placeholder:'レビューのタイトルをご入力ください。', class: "col-xs-offset-2 col-xs-8" %>
				</div>
			    <label class="col-xs-offset-2 col-xs-8">Review Body</label>
			    <div class="row">
					<%= f.text_area :review_text, placeholder:'レビュー本文をご入力ください。', class: "col-xs-offset-2 col-xs-8" %>
				</div>
				<div class="col-xs-offset-2 col-xs-8"><p></p></div>
				<div class="col-xs-offset-2 col-xs-8"><p>5 star rating</p>
					<%= f.select :rating, ProductReview.rates.keys %>
					<%#= f.select :status, ProductReview.statuses.keys %>
					<%#= form.select :rate, ProductReview.rates.keys, :selected=>ProductReview.rates[@product_review.rate_status] %>
				</div>
				<div class="row">
					<%= f.submit '編集を保存して注文一覧へ戻る', class: "col-xs-offset-2 col-xs-8 btn btn-warning active" %>
				</div>
				<div class="row">
					<%= f.submit '編集を保存せず注文履歴一覧へ戻る', class: "col-xs-offset-2 col-xs-8 btn btn-warning active" %>
				</div>
	<% end %>
</div>