<% if flash[:notice] %>
	<p class="flash"><%= flash[:notice] %>
</p>
<% end %>

<div class="container">
	<% if params[:preview] %>
		<div class="row">
			<p class="col-xs-offset-4 col-xs-4">カテゴリーページではこのように表示されます</p>
		</div>
		<div class="cate-box row">
			<p class="cate-text"><%= @category.category_title %></p>
			 <p class="col-xs-offset-5 col-xs-4"><%= attachment_image_tag @category, :category_image, :fill, 200, 200, class: "img-rounded cate-img", fallback: "no_image.jpg",size:'100x100' %></p>
	    </div>
	<% end %>
	<%= form_for(@category) do |f| %>

		<% if @category.errors.any? %>
			<%= @category.errors.count %>
			<%= @category.errors.full_messages.each do |message| %>
				<%= message %>
			<% end %>
		<% end %>
				<p class="row">
				    <label class="col-xs-offset-4 col-xs-4 category_title">Category Name</label>
				</p>
			    <div class="row">
					<%= f.text_field :category_title, autofocus: true , placeholder:'カテゴリ名を入力してください', class: "col-xs-offset-4 col-xs-4" %>
				</div>
				<p class="row">
			    <label class=" col-xs-offset-4 col-xs-4 category_image">Category Image</label>
			    </p>
			    <div class="row">
					<%= f.attachment_field :category_image, class: "col-xs-offset-4 col-xs-4" %>
				</div>
				<div class="row">
					<%= f.submit 'Add New Category', class: "col-xs-offset-4 col-xs-4 btn btn-primary active" %>
				</div>
				<div class="row">
					<%= f.submit 'Preview', name: "preview", class: "col-xs-offset-4 col-xs-4 btn btn-default active" %>
				</div>
	<% end %>
</div>
