<div>
	<p>Preview </p>
	<%= form_for @inquiry do |f| %>
	<%#= @inquiry.inquiry_title %>
		<div><%#= f.inquiry_title %></div>
	    <div><%#= f.inquiry_text %></div>
	    <div><%= @inquiry.inquiry_title %></div>
	    <div><%= @inquiry.inquiry_text %></div>
	    <div><%= f.hidden_field :inquiry_title %></div>
	    <div><%= f.hidden_field :inquiry_text %></div>
	    <div><%#= @time.date_select :inquiry_datetime %></div>
	    <div class="actions">
		    <%= f.submit '送信する', class: "col-xs-4 col-xs-4 btn btn-primary active", data: { disable_with: '送信中 now sending'} %>
		</div>
			 <%# <div class="actions">
			    <%= f.submit '前の画面に戻る', name: 'back', class: "col-xs-4 col-xs-4 btn btn-primary active"
			  </div> %>
	<% end %>
</div>