<div class="container">
	<%= form_for @inquiry, url: inquiries_comfirm_new_path, method: :post do |f| %>

		<% if @inquiry.errors.any? %>
			<%= @inquiry.errors.count %>
			<%= @inquiry.errors.full_messages.each do |message| %>
				<%= message %>
			<% end %>
		<% end %>
			    <label class="inquiry_title">お問い合わせタイトル</label>
			    <div class="row">

					<%= f.text_field :inquiry_title, autofocus: true , placeholder:'お問い合わせ内容のタイトルをご入力ください。', class: "col-xs-8" %>
				</div>
			    <label class="inquiry_text">お問い合わせ内容</label>
			    <div class="row">
					<%= f.text_area :inquiry_text, placeholder:'お問い合わせ内容の本文をご入力ください。', class: "col-xs-8" %>
				</div>
				<div class="row">
					<%= f.submit '確認', class: "col-xs-8 btn btn-primary active" %>
				</div>
	<% end %>
</div>
