<p id="notice"><%= notice %></p>

<h1>商品一覧</h1>



    <% @products.each do |product| %>
      <tr>
        <td><%= attachment_image_tag product, :jacket_image, :fill, 400, 400, format: 'jpeg' %></td>

        <td><%= link_to 'Show', product_path(product) %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<%= link_to '商品登録', new_product_path %>
