<p id="notice"><%= notice %></p>

<div class="row">
  <div class="container">
  <tbody>
    <div class="products-list jscroll">
    <% @products.each do |product| %>
      <tr>
      	<td><%= link_to product_path(product.id) do %>
            <div class="column col-md-4 caption">
                <span class="text">
                    <h4>商品名:<%= product.product_name %></h4>
                    <p>アーティスト:<%= product.artist %></p>
                    <p>価格：<%= product.unit_price %>円(税抜)</p>
                </span>
	            <%= attachment_image_tag product, :jacket_image, :fill, 350, 350, format: 'jpeg', style:"border-radius: 12px" %>
            </div>
          </td>
	    <% end %>
      </tr>
	  <% end %>
    <%= paginate @products %>
    </div>
	 </tbody>
  </div>
</div>

<%= link_to '商品登録', new_product_path %>
