<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @product.artist %>
</p>

<p>
  <strong>Jacket:</strong><br>
  <%= attachment_image_tag @product, :jacket_image, :fill, 200, 200 %>
</p>

<strong>詳細画像:</strong><br>
  <% @product.pictures.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 200, 200 %>
  <% end %>

<br><strong>Category:</strong>
  <%= @product.category_id %>
</p>

<strong>Label:</strong>
  <%= @product.label_id %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @product.stock_quantity %>
</p>

<p>
  <strong>Recieve quantity:</strong>
  <%= @product.recieve_quantity %>
</p>

<p>
  <strong>Product text:</strong>
  <%= @product.product_text %>
</p>

<p>
  <strong>Product status:</strong>
  <%= @product.product_status %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @product.unit_price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
