<p id="notice"><%= notice %></p>


<div class="container">
   <div class="row">
    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
      <strong>シングル・アルバム名</strong><br>
             <%= @product.product_name %>
    </div>
    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
      <strong>アーティスト名</strong><br>
             <%= @product.artist %>
    </div>
    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
             <%= attachment_image_tag @product, :jacket_image, :fill, 300, 300 %>
    </div>
    <div class="field row col-md-offset-2" style="margin-bottom: 5px;">
            <% @product.pictures.each do |image| %>
             <%= attachment_image_tag image, :image, :fill, 200, 200 %>
            <% end %>
    </div>
    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
      <strong>商品カテゴリ</strong><br>
             <%= @product.category_id %>
    </div>
    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
      <strong>レーベル</strong><br>
              <%= @product.label %>
    </div>

    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
      <strong>在庫数</strong><br>
              <%= @product.stock_quantity %>
    </div>
    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
      <strong>商品概要</strong><br>
            <%= @product.product_text %>
    </div>
    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
      <strong>販売ステータス</strong><br>
            <%= @product.product_status %>
    </div>
    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
      <strong>単価</strong><br>
            <%= @product.unit_price %>
    </div>
    <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
      <strong>数量</strong><br>
            <%= form_for(@product,url: product_add_path(@product.id)) do |f| %>
            <%= f.number_field :select_stock %>
    </div>



<%# if @product.favorited_by?(current_user) %>
  <!-- <p>お気に入りに登録されている商品です</p> -->
<%# else %>
<%#= link_to 'お気に入りリストに追加' , product_like_path(@product.id) ,method: :post %><br>
<%# end %>
  </div>
  <div class="row">
    <div class="hidden_box">
      <div class="col-xs-offset-4 col-xs-4">
        <label for="label1">Product Reviews</label>
        <input type="checkbox" id="label1"/>
        <div class="hidden_show">
          <% @review.each do |review| %>
            <div class=""><%= review.review_title %></div>
            <div class=""><%= review.review_text %></div>
            <div class=""><% time = review.created_at.in_time_zone('Tokyo') %>
                  <%= time.strftime('%Y年%m月%d日 %H:%M:%S') %> に投稿</div>
          <% end %>
          <p>サルワカさん、ありがとう</p>
        </div>
      </div>
    </div>
  </div>

      <% if user_signed_in? %>
        <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
          <%= f.submit 'カートに追加', class: 'btn btn-success' %>
        </div>
      <% else %>
        <div class="field row col-md-offset-4" style="margin-bottom: 5px;">

          <%# f.submit 'カートに追加', class: 'btn btn-denger' %>
          <%= link_to  'カートに追加', new_user_session_path,class: 'btn btn-danger' %>
        </div>
      <!--  </button> -->
       <% end %>
     <% end %>

    <% if user_signed_in? %>
      <% if @product.favorited_by?(current_user) %>
        <p>お気に入りに登録されている商品です</p>
      <% else %>
      <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
        <%= link_to 'お気に入りリストに追加' , product_like_path(@product.id) ,method: :post %>
      </div>
      <% end %>
    <% else %>
        <div class="field row col-md-offset-4" style="margin-bottom: 5px;">
        <%= link_to 'お気に入りリストに追加' , new_user_session_path %>
        </div>
    <% end %>

   </div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
