<header class="navbar navbar-fixed-top navbar-default">
	<div class="row">
		<div class='col-xs-2'>
			<div id="logo">
				<h2>NAGAJAKE</h2>
			</div>
		</div>
		<div class='col-xs-4'>
			<dl class="form-group col-xs-11 col-md-offset-1">
				<%= search_form_for @q, url: 'root' do |f| %>
					<dt><%= f.text_field :product_name_cont, class: "form-control", placeholder: '商品名/アーティスト名'%></dt>
					<dd><%= f.submit ("SEARCH"), class: 'search-btn' %></dd>
				<% end %>
			</dl>
		</div>
		<div class='col-xs-1'>
			<%= link_to "カテゴリ", "#", class:"btn btn-info col-xs-12", style:"margin-top: 22px; color: white;" %>
		</div>
		<div class='col-xs-5 row'>
			<% if user_signed_in? %>
				<nav>
					<ul class="header-list nav navbar-nav navbar-right">
						<li><% if current_user.admin? %>
									<%= link_to "管理者ページ", "#" %>
									<% end %></li>
						<li class="header-list-item"><%= link_to "ホーム", products_path %></li>
						<li class="header-list-item"><%= link_to "マイページ", "#" %></li>
						<li class="header-list-item"><%= link_to "購入履歴",cart_histories_path  %></li>
						<li class="header-list-item"><%= link_to "受注一覧",orders_path  %></li>
						<li class="header-list-item"><%= link_to "サインアウト",  destroy_user_session_path , method: :delete,  data: {confirm:'ログアウトしますか？'} %></li>
					</ul>
				</nav>
			<% else %>
				 <nav>
					<ul class="header-list nav navbar-nav navbar-right">
						<li class="header-list-item"><%= link_to "ホーム", products_path %></li>

						<li class="header-list-item"><%= link_to "新規登録の方", new_user_registration_path %></li>

						<li class="header-list-item"><%= link_to "ログイン", new_user_session_path %></li>
					</ul>
				 </nav>
			<% end %>
		</div>
	</div>
</header>
