<header class="navbar navbar-fixed-top navbar-default">
	<div class="row">
		<div class='col-xs-2'>
			<div id="logo">
				<h2>NAGAJAKE</h2>
			</div>
		</div>
		<div class='col-xs-5'>
			<dl class="form-group col-xs-11 col-md-offset-1">
				<%= search_form_for @q, url: root_path do |f| %>
					<dt><%= f.text_field :product_name_cont, class: "form-control", placeholder: '商品名/アーティスト名'%></dt>
					<dd><%= f.submit ("SEARCH"), class: 'search-btn' %></dd>
				<% end %>
			</dl>
		</div>
		<div class='col-xs-5'>
			<% if user_signed_in? %>
				<nav>
					<ul class="header-list nav navbar-nav navbar-right">
						<li class="header-list-item"><%= link_to "ホーム", '#' %></li>
						<li class="header-list-item"><%= link_to "マイページ", "#" %></li>
						<li class="header-list-item"><%= link_to "サインアウト",  '#' , method: :delete,  data: {confirm:'ログアウトしますか？'} %></li>
					</ul>
				</nav>
			<% else %>
				 <nav>
					<ul class="header-list nav navbar-nav navbar-right">
						<li class="header-list-item"><%= link_to "ホーム", '#' %></li>
						<li class="header-list-item"><%= link_to "新規登録の方", '#' %></li>
						<li class="header-list-item"><%= link_to "ログイン", '#' %></li>
					</ul>
				 </nav>
			<% end %>
		</div>
	</div>
</header>
